@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  margin: 0 auto;
  background-color: #FFFAFA;
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-top: 28px;
  margin-left: 355px;
}

.header .header-container {
  width: 1254px;
  height: 941px;
}

.header .header-top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.header .navigation__logo {
  font-size: 30px;
  font-weight: bold;
}

.header .navigation__media {
  -webkit-transform: translate(300px, -25px);
          transform: translate(300px, -25px);
}

.header .navigation__burger-menu {
  -webkit-transform: translate(1150px, -50px);
          transform: translate(1150px, -50px);
}

.header .header-top-main {
  height: 880px;
}

.header .top-main__title {
  width: 570px;
  height: 150px;
  margin-top: 134px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
}

.header .top-main__title span {
  color: #ff4c60;
}

.header .top-main__subtitle p {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

.header .top-main__subtitle img {
  -webkit-transform: translate(159px, 66px);
          transform: translate(159px, 66px);
}

.header .top-main__image {
  -webkit-transform: translate(600px, -350px);
          transform: translate(600px, -350px);
}

.header .header-top-btn {
  width: 200px;
  height: 50px;
  -webkit-transform: translate(0, -500px);
          transform: translate(0, -500px);
}

.header .top-btn__body {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.header .top-btn__icon {
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

.header .top-main__bg {
  -webkit-transform: translate(0, -550px);
          transform: translate(0, -550px);
}

.header .cube-1 {
  -webkit-transform: translate(450px, 50px);
          transform: translate(450px, 50px);
}

.header .cube-2 {
  -webkit-transform: translate(350px, -180px);
          transform: translate(350px, -180px);
}

.header .cube-3 {
  -webkit-transform: translate(350px, -360px);
          transform: translate(350px, -360px);
}

.header .ellipse-1 {
  -webkit-transform: translate(50px, -90px);
          transform: translate(50px, -90px);
}

.header .ellipse-2 {
  -webkit-transform: translate(-250px, -350px);
          transform: translate(-250px, -350px);
}

.header .information__body {
  width: 1171px;
  height: 182px;
  -webkit-transform: translate(0, -320px);
          transform: translate(0, -320px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9F3F5;
}

.header .information .title {
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
}

.header .information .top-title-text {
  margin-top: 50px;
  margin-left: 75px;
  color: #282828;
  width: 189px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  padding-top: 5px;
}

.header .information .top-title-text:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information .subtitle-text {
  margin-left: 20px;
  color: #c4c4c4;
  width: 291px;
  height: 52px;
  line-height: 1.63;
  font-size: 16px;
  text-align: center;
}

.header .information__mail {
  margin-top: 42px;
  padding-left: 70px;
  font-size: 20px;
  width: 570px;
  height: 98px;
  color: #FFFAFA;
  background-color: #FFFAFA;
  -webkit-transform: translateX(149px);
          transform: translateX(149px);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.header .information__mail:focus {
  background-color: #ff4c60;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information__mail:focus::-webkit-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information__mail:focus:-ms-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information__mail:focus::-ms-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information__mail:focus::placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .information__btn {
  width: 160px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-transform: translate(-100px, 78px);
          transform: translate(-100px, 78px);
  padding: 5px 0 0 15px;
  background-color: #FFFAFA;
  border-radius: 8px;
}

.header .information__btn span {
  color: #282828;
}

.content-main-head {
  width: 1177px;
  height: 395px;
  margin-top: 150px;
  margin-left: 355px;
}

.content-main-head .content-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main-head .content-main__skills {
  margin: 43px 0 0 71px;
}

.content-main-head .content-main__titles {
  margin-bottom: 36px;
}

.content-main-head .content-main__titles h1 {
  width: 230px;
  font-size: 30px;
  font-weight: bold;
  color: #282828;
  line-height: 1.3;
  text-align: center;
  border-radius: 8px;
  -webkit-transform: translateX(-13.5px);
          transform: translateX(-13.5px);
}

.content-main-head .content-main__titles h1:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .content-main__titles p {
  width: 550px;
  font-size: 13px;
  color: #282828;
}

.content-main-head .content-main__stats {
  margin-bottom: 60px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  width: 630px;
}

.content-main-head .content-main__stats ul {
  width: 650px;
}

.content-main-head .content-main__stats ul li {
  display: inline-block;
  padding: 3px;
  font-size: 16px;
  color: #282828;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 43px;
  line-height: 1.5;
}

.content-main-head .content-main__stats ul li span {
  font-weight: bold;
  font-size: 26px;
}

.content-main-head .stat-li {
  border-radius: 8px;
}

.content-main-head .stat-li:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-box-shadow: 0 5px 1px #C4C4C4;
          box-shadow: 0 5px 1px #C4C4C4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .ui-stat {
  text-align: center;
  width: 121px;
  height: 63px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content-main-head .web-stat {
  text-align: center;
  width: 121px;
  height: 63px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content-main-head .graphic-stat {
  text-align: center;
  width: 101px;
  height: 63px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content-main-head .app-stat {
  text-align: center;
  width: 121px;
  height: 63px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content-main-head .resume__text {
  color: #ff4c60;
}

.content-main-head .resume__line-img {
  -webkit-transform: translate(150px, -5.5px);
          transform: translate(150px, -5.5px);
}

.content-main-head .content-main-services {
  margin-top: 150px;
}

.content-main-head .information {
  width: 1177px;
  height: 192px;
  background-color: #f9f3f5;
}

.content-main-head .services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main-head .services__title {
  text-align: center;
  margin-left: 88px;
  margin-top: 45px;
}

.content-main-head .services__top-title-text {
  width: 179px;
  height: 43px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  color: #282828;
  border-radius: 8px;
}

.content-main-head .services__top-title-text p {
  padding-top: 5px;
}

.content-main-head .services__top-title-text:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__subtitle-text {
  width: 291px;
  height: 52px;
  color: #C4C4C4;
  margin-top: 6px;
}

.content-main-head .services__service-search {
  position: relative;
  margin-top: 47px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  color: #FFFAFA;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.content-main-head .services__service-search::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 505px;
  margin: auto 0;
  width: 15px;
  height: 15px;
  background: url("/assets/img/content-main/lupa.png");
  background-size: cover;
}

.content-main-head .services__service-search input {
  width: 570px;
  height: 98px;
  padding-left: 70px;
  color: #FFFAFA;
}

.content-main-head .services__service-search input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.content-main-head .services__service-search input:-ms-input-placeholder {
  color: #C4C4C4;
}

.content-main-head .services__service-search input::-ms-input-placeholder {
  color: #C4C4C4;
}

.content-main-head .services__service-search input::placeholder {
  color: #C4C4C4;
}

.content-main-head .services__service-search input:focus {
  background-color: #ff4c60;
  border: 3px solid #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__service-search input:focus::-webkit-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__service-search input:focus:-ms-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__service-search input:focus::-ms-input-placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__service-search input:focus::placeholder {
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-head .services__btn {
  background-color: #FFFFFF;
  width: 110px;
  text-align: center;
  height: 25px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 8px;
  -webkit-transform: translate(-30px, 80px);
          transform: translate(-30px, 80px);
}

.content-main-head .services__btn span {
  color: #282828;
}

.content-main-head .services__btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 1px;
  right: 5px;
  margin: auto 0;
  width: 10px;
  height: 10px;
  background: url("/assets/img/content-main/arrows.png") no-repeat;
  background-size: cover;
}

.content-main-middle__row {
  -webkit-transform: translateY(338px);
          transform: translateY(338px);
}

.content-main-middle .middle-main {
  margin-top: 182px;
  margin-left: 375px;
}

.content-main-middle .middle-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-main-middle .middle-main__icons {
  width: 560px;
  height: 340px;
}

.content-main-middle .middle-main__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-main-middle .middle-main__img {
  margin-left: 190px;
}

.content-main-middle .middle-form {
  margin-top: 150px;
  margin-left: 375px;
}

.content-main-middle .middle-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 192px;
  background-color: #f9f3f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-main-middle .middle-form__logos {
  margin-top: 69px;
}

.content-main-middle .logos__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 562px;
  height: 49px;
}

.content-main-middle .logos__body img {
  margin-right: 61px;
}

.content-main-middle .title {
  margin-top: 45px;
  margin-left: 141px;
}

.content-main-middle .top-title {
  width: 200px;
  height: 50px;
  padding-top: 8px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  margin-left: 30px;
  border-radius: 8px;
}

.content-main-middle .top-title:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-middle .subtitle {
  width: 265px;
  height: 52px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #c4c4c4;
}

.content-main-middle .middle-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 146px 375px 0px 375px;
}

.content-main-middle .middle-blog__info {
  margin-left: 60px;
}

.content-main-middle .middle-blog__text {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 26px;
  color: #c4c4c4;
}

.content-main-middle .middle-blog__link span {
  font-size: 16px;
  line-height: 26px;
  color: #ff4c60;
}

.content-main-middle .middle-blog__link img {
  -webkit-transform: translate(15px, 12.5px);
          transform: translate(15px, 12.5px);
}

.content-main-middle .middle-main-title {
  margin-bottom: 34px;
  font-size: 30px;
  width: 180px;
  height: 45px;
  text-align: center;
  padding: 6px;
  font-weight: 700;
  line-height: 26px;
  color: #282828;
  border-radius: 8px;
}

.content-main-middle .middle-main-title:hover {
  background-color: #ff4c60;
  color: #FFFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content-main-middle .middle-subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #282828;
}

.content-main-middle .middle-social-media__row {
  border: 1px solid red;
  margin: 150px 375px 0px 375px;
}
