@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

$color1: #FFFAFA;
$color2: #282828;
$color3: #FFFFFF;
$color4: #C4C4C4;
$color5: #ff4c60;

body{
  margin: 0 auto;
  background-color: $color1;
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-left: 355px;

  &__row {
  }

  .header-container {
    border: 1px solid red;
    width: 1254px;
    height: 941px;
  }
  .header-top {
  }
  .header-top-navigation {
    display: flex;
    border: 2px solid blue;
  }
  .navigation {

    &__body {
    }

    &__logo {
      font-size: 30px;
      font-weight: bold;
    }

    &__media {
    }

    &__burger-menu {
    }
  }
  .burger-menu {
  }
  .header-top-main {
  }
  .top-main {

    &__body {
    }

    &__title {
      font-size: 48px;
      font-weight: bold;

      span{
        color: $color5;
      }
    }

    &__subtitle {
    }

    &__image {
    }
  }
  .header-top-btn {
  }
  .top-btn {

    &__body {
    }

    &__button {
    }

    &__icon {
    }

    &__text {
    }
  }
  .header-newsletter {
  }
  .information {

    &__body {
    }

    &__title {
    }

    &__subtitle {
    }

    &__mail {
    }

    &__btn {
    }
  }
}