@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

$color1: #FFFAFA;
$color2: #282828;
$color3: #FFFFFF;
$color4: #C4C4C4;
$color5: #ff4c60;

$border1: 1px solid red;

body{
  margin: 0 auto;
  background-color: $color1;
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-top: 28px;
  margin-left: 355px;

  &__row {
  }

  .header-container {
    width: 1254px;
    height: 941px;
  }
  .header-top {
  }
  .header-top-navigation {
    display: flex;
    height: 40px;
  }
  .navigation {

    &__body {
    }

    &__logo {
      text-align: center;
      padding: 3px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 8px;

      &:hover{
        background-color: $color5;
        color: $color1;
        transition: 0.3s;
      }
    }

    &__media {
      transform: translate(300px, -25px);
    }

    &__burger-menu {
      transform: translate(1150px, -50px); //TODO: Finish the burger-menu.
    }
  }
  

  .header-top-main {
    height: 880px;
  }
  .top-main {

    &__body {
    }

    &__title {
      width: 570px;
      height: 150px;
      margin-top: 134px;
      font-size: 48px;
      font-weight: bold;
      line-height: 1.5;

      span{
        color: $color5;
      }
    }

    &__subtitle {

      p{
        transform: translateY(72px);
      }

      img{
        transform: translate(159px, 66px);
      }
    }

    &__image {
      transform: translate(600px, -350px);
    }
  }
  .header-top-btn {
    width: 200px;
    height: 50px;

    transform: translate(0, -500px);

  }
  .top-btn {
    

    &__body {
      transform: translateY(-75px);
    }

    &__button {
    }

    &__icon {
      transform: translateY(-36px);
    }

    &__text {
    }
  }

  .top-main {

		&__bg {
      transform: translate(0, -550px);
		}
}
.cube-1 {
  transform: translate(450px, 50px);
}
.cube-2 {
  transform: translate(350px, -180px);
}
.cube-3 {
  transform: translate(350px, -360px);
}
.ellipse-1 {
  transform: translate(50px, -90px);
}
.ellipse-2 {
  transform: translate(-250px, -350px);
}


  .header-newsletter {
  }
  .information {

    &__body {
      width: 1171px;
      height: 182px;
      transform: translate(0, -320px);
      display: flex;
      justify-content: space-between;
      background-color: #F9F3F5;
    }

    .title{
      transform: translateX(120px);
    }

    .top-title-text {
      margin-top: 50px;
      margin-left: 75px;    
      color: #282828;
      width: 189px;
      height: 40px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 8px;
      text-align: center;
      padding-top: 5px;

      &:hover{
        background-color: $color5;
        color: $color1;
        transition: 0.5s;
      }
    }
    .subtitle-text {
      margin-left: 20px;
      color: #c4c4c4;
      width: 291px;
      height: 52px;
      line-height: 1.63;
      font-size: 16px;
      text-align: center;
    }
    

    &__mail {
      margin-top: 42px;
      padding-left: 70px;
      font-size: 20px;
      width: 570px;
      height: 98px;
      color: $color1;
      background-color: $color1;
      transform: translateX(149px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

      &:focus{
        background-color: $color5;
        transition: 0.5s;

        &::placeholder{
          color: $color1;
          transition: 0.5s;
        }
      }

      
    }

    &__btn {
      width: 160px;
      height: 30px;
      align-items: center;
      font-size: 16px;
      transform: translate(-100px, 78px);
      padding: 5px 0 0 15px;
      background-color: $color1;
      border-radius: 8px;

      span{
        color: $color2;
      }
    }
  }
}

.content-main-head {
  width: 1177px;
  height: 395px;
  margin-top: 150px;
  margin-left: 355px;

  .content-main-container {
  }
  .content-main {

      &__row {
        display: flex;
      }

      &__skills{
        margin: 43px 0 0 71px;
      }

      &__image {
      }

      &__titles {
        margin-bottom: 36px;
        
        h1{
          width:230px;
          font-size: 30px;
          font-weight: bold;
          color: $color2;
          line-height: 1.3;
          text-align: center;
          border-radius: 8px;
          transform: translateX(-13.5px); 
          &:hover{
            background-color: $color5;
            color: $color1;
            transition: 0.5s;
          }
        }

        p{
          width: 550px;
          font-size: 13px;
          color: $color2;
        }
      }

      &__stats {
        margin-bottom: 60px;
        transform: translateX(-5px);
        width: 630px;

        ul{
          width: 650px;
          li{
            display: inline-block;
            padding: 3px;
            font-size: 16px;
            color: $color2;
            justify-content: space-around;
            margin-right: 43px;
            line-height: 1.5;

            span{
              font-weight: bold;
              font-size: 26px;
            }
          }
        }
      }

      &__resume {
      }
  }
  .container {
  }
  .statistic {
  }

  .stat-li{
    border-radius: 8px;

    &:hover{
      background-color: $color5;
      color: $color1;
      box-shadow: 0 5px 1px $color4;
      transition: 0.5s;
    }
  }
  .ui-stat {
    text-align: center;
    width: 121px;
    height: 63px;
    flex-grow: 0;
  }
  .web-stat {
    text-align: center;
    width: 121px;
    height: 63px;
    flex-grow: 0;
  }
  .graphic-stat {
    text-align: center;
    width: 101px;
    height: 63px;
    flex-grow: 0;
  }
  .app-stat {
    text-align: center;
    width: 121px;
    height: 63px;
    flex-grow: 0;
  }
  .resume {

      &__body {
      }

      &__text {
        color: $color5;
      }

      &__line-img {
        transform: translate(150px,-5.5px);
      }
  }
  .content-main-services {
    margin-top: 150px;
  }
  .information {
    width: 1177px;
    height: 192px;
    background-color: #f9f3f5;
  }
  .services {

      &__row {
        display: flex;
      }

      &__title {
        text-align: center;
        margin-left: 88px;
        margin-top: 45px;
      }

      &__top-title-text {
        width: 179px;
        height: 43px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        transform: translateX(60px);
        color: $color2;
        border-radius: 8px;

        p{
          padding-top: 5px;
        }

        &:hover{
          background-color: $color5;
          color: $color1;
          transition: 0.5s;
        }
      }

      &__subtitle-text {
        width: 291px;
        height: 52px;
        color: $color4;
        margin-top: 6px;
      }

      &__service-search {
        position: relative;
        margin-top: 47px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        color: $color1;
        transform: translateX(100px);

        &::before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 505px;
          margin: auto 0;
          width: 15px;
          height: 15px;
          background: url('/assets/img/content-main/lupa.png');
          background-size: cover;
        }

        input{
          width: 570px;
          height: 98px;
          padding-left: 70px;
          color: $color1;

          &::placeholder{
            color: $color4;
          }

          &:focus{
            background-color: $color5;
            border: 3px solid $color1;
            transition: 0.5s;

            &::placeholder{
              color: $color1;
              transition: 0.5s;
            }
          }
        }

        
      }

      &__btn {
        background-color: $color3;
        width: 110px;
        text-align: center;
        height: 25px;
        padding-top: 5px;
        padding-right: 10px;
        border-radius: 8px;
        transform: translate(-30px, 80px);

        span{
          color: $color2;
        }

        &::before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 1px;
          right: 5px;
          margin: auto 0;
          width: 10px;
          height: 10px;
          background: url('/assets/img/content-main/arrows.png') no-repeat;
          background-size: cover;
        }
      }
  }
  .title {
  }
  .mail {
  }
  .button {
  }
}

.content-main-middle {

  &__row {
    transform: translateY(338px);
  }

  .container {
  }
  .middle-main {
    margin-top: 182px;
    margin-left: 375px;

    &__row {
      display: flex;
    }

    &__icons {
      width: 560px;
      height: 340px;

      ul{
        display: flex;
        flex-grow: 0;
        flex-wrap: wrap;
      }
    }

    &__img {
  
    }
  }

  .middle-main {

		&__img {
      margin-left: 190px;
		}
}
.computer {
}


  .middle-buttons {
  }
  .computer {
  }
  .middle-form {
    margin-top: 150px;
    margin-left: 375px;

    &__row {
      display: flex;
      width: 1170px;
      height: 192px;
      background-color: #f9f3f5;
      justify-content: space-between;
    }

    &__titles {
    }

    &__logos {
      margin-top: 69px;
    }
  }
.logos {

		&__body {
      display: flex;
      width: 562px;
      height: 49px;

      img{
        margin-right: 61px;
      }
		}
}
.airbnb {
}
.samsung {
}
.amazon {
}

  .title {
    margin-top: 45px;
    margin-left: 141px;
  }
  .top-title {
    width: 200px;
    height: 50px;
    padding-top: 8px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #282828;
    margin-left: 30px;
    border-radius: 8px;

    &:hover{
      background-color: $color5;
      color: $color1;
      transition: 0.5s;
    }
  }
  .subtitle {
    width: 265px;
    height: 52px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #c4c4c4;
  }
  .middle-blog {

		&__row {
      display: flex;
      margin: 146px 375px 0px 375px;
		}

		&__image {
		}

		&__info {
      margin-left: 60px;
		}

		&__text {
      margin-bottom: 26px;
      font-size: 16px;
      line-height: 26px;
      color: #c4c4c4;
		}

		&__link {
      
      span{
        font-size: 16px;
        line-height: 26px;
        color: #ff4c60;
      }

      img{
        transform: translate(15px,12.5px);
      }
		}
}
  .container {
  }
  .title {
  }
  .middle-main-title {
    margin-bottom: 34px;
    font-size: 30px;
    width: 180px;
    height: 45px;
    text-align: center;
    padding: 6px;
    font-weight: 700;
    line-height: 26px;
    color: #282828;
    border-radius: 8px;

    &:hover{
      background-color: $color5;
      color: $color1;
      transition: 0.5s;
    }
  }
  .middle-subtitle {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
    color: #282828;
  }
  .middle-social-media {

		&__row {
      display: flex;
      justify-content: space-between;
      margin: 150px 375px 0px 375px;
      width: 1170px;
      height: 192px;
      background-color: #f9f3f5;
		}

		&__titles {
      width: 280px;
      height: 96px;
      margin: 58px 0px 38px 162px;
		}

		&__icons {
		}
  }
  .container {
  }
  .media-main-title {
    width: 205px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 8px;

    &:hover{
      background-color: $color5;
      color: $color1;
      transition: 0.5s;
    }
  }
  .media-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #c4c4c4;
  }
  .media-icons {

      &__body {
        margin: 67px 8px 65px 0;
        
        img{
          padding-left: 87px;
        }
      }
  } 
}

.content-bottom {

  &__row {
    width: 1183px;
    height: 607px;
    margin: 150px 368px 0 368px;
    transform: translateY(335px);
  }

  .content-bottom-container {
  }
  .bottom-portfolio {

    &__row {
      display: flex;
    }

    &__info {
      position: relative;
      width: 473px;
      height: 54px;
      transform: translateX(630px);
      z-index: 1;
    }

    &__image {
      position: relative;
      display: flex;
      transform: translate(-177px,0);
      z-index: 0;
    }
  }
  .container {
  }
  .design {
    text-align: center;
    width: 174px;
    height: 54px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #282828;
    background-color: #f9f3f5;
  }
  .portfolio-btn {
    transform: translate(180px,-49px);
    
  }
  .portfolio-title {
    transform: translate(425px,-89px);
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 5px;
    height: 40px;
    color: #282828;
    text-align: right;
    border-radius: 8px;
    width: 130px;

    &:hover{
      background-color: $color5;
      color: $color1;
      transition: 0.5s;
    }
  }
  .mask-1 {
  }
  .mask-2 {
    transform: translate(30px,87px);
  }
  .mask-3 {
    transform: translate(60px,147px);
  }
    .bottom-contact {

      &__row {
        display: flex;
        transform: translateY(130px);
        margin-top: 135px;
        width: 1170px;
        height: 652px;
      }

      &__with-us {
      }

      &__form {
      }
  }
  .container {
  }
  .with-us {

      &__row {
        margin-top: 90px;
        width: 600px;
        height: 522px;
        background-color: #f9f3f5;
      }

      &__titles {
        margin: 97px 33px 0 27px;
        width: 540px;
        height: 125px;
      }

      &__top-text {
        font-size: 30px;
        font-weight: 700;
        color: #282828;
        margin-bottom: 32px;
      }

      &__bottom-text {
        font-size: 16px;
        font-weight: 700;
        color: #282828;
      }

      &__contacts {
      }

      &__body {
      }
  }
  .with-us-list {
      margin: 0px 129px 0px 101px;
      display: flex;
      flex-grow: 0;
      width: 412px;
      height: 137px;

      img{
        margin-bottom: 15px;
      }

      li{
      }

      span{
        
      }

      &__mail {
        width: 228px;
        height: 136px;
        text-align: center;
        transform: translateX(-80px);
        
        p{
          font-size: 16px;
          color: #282828;
          margin-bottom: 13px;
        }
      }

      &__number {
        width: 197px;
        height: 137px;
        text-align: center;
        transform: translateX(30px);

        p{
          font-size: 16px;
          color: #282828;
          margin-bottom: 13px;
        }
      }

  }
  .form {

      &__row {
        display: flex;
        width: 570px;
        height: 652px;
        background-color: #fffafa;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
      }

      &__main-title {

        p{
          font-size: 30px;
          font-weight: 700;
          color: #282828;
          margin-left: 182px;
          margin-bottom: 24px;
        }

      }

      &__lists {
        li{
          margin-bottom: 31px;

          input{
            margin-left: 43px;

            &:focus{
              background-color: $color5;
              color: $color1;
              transition: 0.3s;

              &::placeholder{
                color: $color1;
                transition: 0.3s;
              }
            }
          }
        }
      }
  }
  .list1 {
    input{
      width: 227px;
      height: 61px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }
  .list2 {
    input{
      width: 427px;
      height: 61px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }
  .list3 {
    input{
      width: 227px;
      height: 61px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }
  .list4 {
    input{
      width: 488px;
      height: 167px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }
  .list5 {
    input{
      width: 227px;
      height: 61px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }
}

.footer {

  &__row {
    border: $border1;
    margin-top: 38px;
    margin-left: 650px;
    transform: translateY(1100px);
    width: 500px;
    height: 90px;
    text-align: center;
  }

  .footer-container {
  }
  .footer-author {

    a{
      margin-bottom: 30px;
    }
  }
  .made-by {
    font-size: 16px;
    margin-bottom: 15px;
    width: 200px;
    align-items: center;
    margin-left: 150px;
    line-height: 26px;
    border-radius: 8px;
    color: $color2;
  }
  .ortiz-develop {
    border: $border1;
    padding: 9px;
    border-radius: 8px;
    background-color: $color4;
    
    span{
      font-size: 20px;
      line-height: 26px;
      color: $color2;
    }

    &:hover{
      background-color: $color5;
      transition: 0.3s;

      span{
        color: $color1;
        transition: 0.3s;
      }
    }
  }
  .ortiz-develop-logo {
    margin-top: 30px;
    width: 250px;
    margin-bottom: 50px;
    background-color: #ff4c60;
  }
  
}